<!DOCTYPE html>
<html>
<head>
  <title>Lookit</title>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="lookit">

  <div ng-include="'nav/_nav.html'"></div>

  <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html"></script>
  <script type="text/ng-template" id="/posts.html"></script>

</body>
</html>
